body{
background-color:#D3ECA7;
}
h1{
   color:#FF1700;
}
h3{
  color:#F806CC;
}
h2{
  color:#8D8DAA;
}
hr{
  border-color:white;
  border-style:none;
  height:0px;
  width:30%;
  border-width:5px;
  border-top-style:dotted;
}
